{% extends "webapp/base.html" %}
{% block main %}
  <div class="container shadow-md bg-dark p-5 my-3 form-container">
    <h2>Update {{ record.first_name }} {{ record.last_name }}</h2>
    <hr class="my-4">
    <form action="" method="post" autocomplete="off">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary w-100 btn-block my-4">Update contact</button>
    </form>
    <div class="text-center mt-1">
      <p>
        View all contacts? <a href="{% url 'dashboard' %}">Dashboard</a>
      </p>
    </div>
  </div>
{% endblock main %}
